.signup-section {
  display: flex;
  flex-direction: column;
}

.form-toggle {
  display: flex;
  justify-content: center;
}

.tech-picker .selected {
  border: 2px solid var(--primary-color);
  background: transparent;
  color: var(--primary-color);
}
