.profile-card {
  display: flex;
  padding: var(--gap-m, 1rem);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 0.25rem;
  border: 0.5px solid var(--black);
  margin-bottom: var(--gap-m);
}

.profile-header {
  display: flex;
  padding: 0rem;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.profile-header h3 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.profile-profession {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: var(--gap-m);
  text-align: left;
  align-self: flex-start;
}

.profile-icons {
  display: flex;
  gap: 0.5rem;
}

.like-button {
  background: none;
  border: none;
  cursor: pointer;
}

.profile-tech {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-s);
}

.tech-badge {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0.05rem;
  border: 0.5px solid var(--black);
}
