.hero {
  width: 100%;
  height: calc(100vh - 3.6875rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--primary-red);
  color: #ffffff;
  position: relative;
  overflow: hidden;
}

.title-animation {
  display: inline-block;
  transition: all 0.2s ease-in-out;
  font-variation-settings: "wght" 100;
}

.title-animation:hover {
  font-variation-settings: "wght" 800;
}
