.hero {
  width: 100%;
  height: calc(100vh - 3.6875rem);
  align-self: stretch;
  color: var(--white);
  background-color: var(--primary-red);
  overflow: hidden;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: var(--padding-xs, 0.5rem);
  padding: 0 var(--padding-m, 1rem);
}

.hero-heading {
  display: flex;
  padding: var(--gap-s, 0.5rem) var(--gap-xxs, 0rem);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xxs, 0rem);
}

.event-time {
  display: flex;
  padding: var(--gap-s, 0.5rem) var(--gap-xxs, 0rem);
  align-items: center;
  gap: var(--gap-s, 0.5rem);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
  letter-spacing: 0.0125rem;
}

.hero-heading h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.title-animation {
  display: inline-block;
  letter-spacing: -0.09375rem;
  transition: all 0.2s ease-in-out;
  font-variation-settings: "wght" 100;
}

.title-animation:hover {
  font-variation-settings: "wght" 800;
}

.event-info {
  width: 18.3125rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
  letter-spacing: 0.05rem;
  margin: var(--gap-s) 0;
}

.hero-cta {
  margin-top: var(--gap-l);
}

.signup-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
  letter-spacing: 0.05rem;
  margin-bottom: var(--gap-s);
}

.btn-container {
  display: flex;
  gap: var(--padding-s);
}
