.hero-circles {
  top: -5rem;
  position: relative;
  z-index: 10;
  pointer-events: none;
}

.circle-large {
  position: relative;
  top: -1.5rem;
  right: -6rem;
  width: 18.9375rem;
  height: 18.9375rem;
  border-radius: 50%;
  border: 1px solid var(--white);
  z-index: -1;
}

.circle-small {
  position: absolute;
  top: 5rem;
  right: 4rem;
  width: 9.18356rem;
  height: 9.18356rem;
  border-radius: 50%;
  border: 1px solid var(--white);
  z-index: -1;
}

.rotating-track {
  position: relative;
  width: 100%;
  height: 100%;
  animation: rotate 60s linear infinite;
}

.orbit {
  position: absolute;
  transform-origin: center;
  animation: maintain 60s linear infinite;
}

.orbit-1 {
  top: 0;
  left: 0;
}

.orbit-2 {
  bottom: -1rem;
  right: 0;
}

.orbit-3 {
  bottom: -1rem;
  left: 0;
}

.orbit-4 {
  top: -2rem;
  left: 0;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 2;
  position: relative;
}

.avatar img {
  width: 3rem;
  height: auto;
  border: 2px solid var(--white);
  border-radius: 50%;
}

figcaption {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.2rem;
  letter-spacing: 0.05rem;
  color: var(--white);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes maintain {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@media (min-width: 768px) {
  .hero-circles {
    position: absolute;
    top: 50%;
    left: 70%;
    width: 40rem;
    height: 40rem;
    transform: translateY(-50%);
  }

  .circle-large {
    width: 31.5625rem;
    height: 31.5625rem;
    border-radius: 50%;
  }

  .circle-small {
    width: 17.5625rem;
    height: 17.5625rem;
    border-radius: 50%;
  }

  .orbit-1 {
    top: 4rem;
    left: 0;
  }

  .orbit-2 {
    bottom: 1rem;
    right: 0;
  }

  .orbit-3 {
    bottom: 0;
    left: 2rem;
  }

  .orbit-4 {
    top: 0;
    left: 0;
  }

  .avatar img {
    width: 5rem;
    height: auto;
  }

  figcaption {
    font-size: 1rem;
  }
}
