.circle-large {
  display: flex;
  width: 21.9375rem;
  height: 21.9375rem;
  border-radius: 21.9375rem;
  border: 2px solid #fff;
}

.circle-small {
  display: flex;
  width: 12.18356rem;
  height: 12.18356rem;
  border-radius: 12.18356rem;
  border: 2px solid #fff;
}
