.filter-container {
  padding: 0.4375rem 1.0625rem;
  margin: 1rem 0;
  border: 1px solid var(--black);
  background: var(--white);
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.filter-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-l, 2rem);
}

.filter-section {
  margin-bottom: 1rem;
}
