.event-time {
  display: flex;
  padding: var(--gap-s, 0.5rem) var(--gap-xxs, 0rem);
  align-items: center;
  gap: var(--gap-s, 0.5rem);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2rem;
  letter-spacing: 0.0125rem;
  text-align: left;
}

@media (min-width: 768px) {
  .event-time {
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.05rem;
    padding: 1rem 0;
  }
}
