.event-page-section {
  padding-top: var(--gap-xl);
}

.event-page-heading {
  display: flex;
  padding: 0 var(--gap-m);
  flex-direction: column;
  align-items: flex-start;
  color: var(--primary-red);
  margin-bottom: var(--gap-l);
}

.event-back-btn {
  display: none;
}

.event-title {
  margin-top: var(--gap-m);
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 2.5rem;
}

.event-title-thin {
  font-size: 2.5rem;
  font-weight: 100;
  letter-spacing: -0.09375rem;
  margin-bottom: var(--gap-m);
}

.event-section {
  display: flex;
  padding: var(--padding-l, 1.5rem) var(--gap-m, 1rem);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background-color: var(--grey-60);
  margin-bottom: 4rem;
}

.event-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.event-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-m, 1rem);
}

.title {
  margin-top: 2.5rem;
  font-size: 1.875rem;
  font-weight: 300;
  line-height: 1.875rem;
  letter-spacing: 0.025rem;
}

.event-description {
  margin-bottom: var(--gap-m);
}

.event-description p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .event-page-heading {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
  }

  .event-title-container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .event-back-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .event-title {
    margin-top: 0;
    font-size: 6rem;
    font-weight: 800;
    line-height: 6rem;
  }

  .event-title-thin {
    font-size: 6rem;
    font-weight: 100;
    line-height: 6rem;
    letter-spacing: -0.09375rem;
  }

  .event-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    padding: 6rem 2rem;
  }

  .event-heading {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 3rem;
  }

  .event-heading h2 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 3rem;
    letter-spacing: -0.0625rem;
  }

  .event-description {
    grid-column: 1;
    grid-row: 2;
  }

  .event-schedule {
    grid-column: 2;
    grid-row: span 2;
    align-self: center;
  }
}
