.navbar { 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: #FFFFFF;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container a {
    display: flex;
    align-items: center;
    color: #000000;
    text-decoration: none;
    gap: 0.25rem;
}

.title-bold {
    font-weight: 700;
}

.logo-container img {
    height: 1rem;
    width: auto;
}

.login-link {
    color: #000000;
    text-decoration: none;
}
