.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
}

.checkbox-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.custom-checkbox.default .checkbox-icon {
  stroke: var(--black);
}

.custom-checkbox.default .checkbox-label {
  color: var(--black);
}

.custom-checkbox.filter .checkbox-icon {
  stroke: var(--black);
}

.custom-checkbox.filter .checkbox-label {
  color: var(--black);
}

.visually-hidden-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  height: 0;
  width: 0;
}

@media (min-width: 768px) {
  .custom-checkbox.filter .checkbox-icon {
    stroke: var(--white);
  }

  .custom-checkbox.filter .checkbox-label {
    color: var(--white);
  }
}
