.login-container {
  height: calc(100vh - 3.6875rem);
  display: flex;
  padding: var(--padding-l, 1.5rem) var(--padding-m, 1rem);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-l, 2rem);
  background-color: var(--grey-60);
}

.login-heading {
  color: var(--primary-red);
  font-size: 1.875rem;
  font-weight: 300;
  line-height: 1.875rem;
  letter-spacing: 0.025rem;
}

.login-logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--gap-s);
  margin-bottom: var(--gap-l);
}

.login-mingla {
  width: 5.49681rem;
  height: 0.98475rem;
}

.login-yrgo {
  width: 5.125rem;
  height: 1.25rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--white);
}

input {
  padding: 0.75rem;
  border: 1px solid var(--grey-40);
  border-radius: 0.375rem;
  width: 100%;
}

.password-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 0.75rem;
  cursor: pointer;
  font-size: 1rem;
  color: var(--grey-60);
}

.login-btn {
  background-color: var(--primary-red);
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 1.5rem;
  cursor: pointer;
  font-weight: 600;
  margin-top: 1rem;
}

.login-links {
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.login-links a {
  color: var(--primary-blue);
  text-decoration: underline;
}
